server:
  port: 8888
spring:
  application:
    name: mx-web
  datasource:
    driverClassName: com.mysql.jdbc.Driver
    url: jdbc:mysql://localhost/apm
    username: root
    password: root
  http:
    encoding:
      charset: UTF-8
      enabled: true
      force: true
  dao:
    exceptiontranslation:
      enabled: false
logging:
  path: log
  file: web-mx.log
  conf: logback.xml
  level:
    org.springframework.boot: INFO
    org.springframework: INFO
    com.baidu.oped: DEBUG

hbase:
  clientHost: 127.0.0.1
  clientPort: 2181
  clientTcpNodelay: true
  rpcTimeout: 10000
  operationTimeout: 10000
  socketReadTimeout: 20000
  socketWriteTimeout: 60000
  maxThreadSize: 128
  poolQueueSize: 5120
  prestartPool: false
