management:
  context-path: /admin
shell:
  ssh:
    port: 8822
  auth:
    simple:
      user:
        name: mason
        password: test
server:
  port: 8888
  context-path: /api/apm
spring:
  application:
    name: web
  datasource:
#    url: jdbc:mysql://180.76.136.21:3306/apm?autoReconnect=true&useUnicode=true&characterEncoding=utf-8
    url: jdbc:mysql://masonmxdb:3306/apm?autoReconnect=true&useUnicode=true&characterEncoding=utf-8
    username: apm
    password: apm
    driverClassName: com.mysql.jdbc.Driver
    max-active: 100
    min-idle: 8
    max-idle: 8
    validation-query: select 1
    test-on-borrow: true
  http:
    encoding:
      charset: UTF-8
      enabled: true
      force: true
  jpa:
    generate-ddl: true
    show-sql: true
    data:
      repositories:
        enabled: true
logging:
  path: log
  file: web-mx.log
  level:
    org.springframework.boot: DEBUG
    org.springframework: INFO
    com.baidu.oped: DEBUG
