server:
  port: 8888
  context-path: api/apm
spring:
  application:
    name: web
  datasource:
    url: jdbc:mysql://127.0.0.1:3306/apm?autoReconnect=true&useUnicode=true&characterEncoding=utf-8
    username: root
    password: root
    driverClassName: com.mysql.jdbc.Driver
    max-active: 100
    min-idle: 8
    max-idle: 8
    validation-query: select 1
    test-on-borrow: true
  http:
    encoding:
      charset: UTF-8
      enabled: true
      force: true
  jpa:
    generate-ddl: true
    show-sql: true
    data:
      repositories:
        enabled: true
logging:
  path: log
  file: web-mx.log
  conf: logback.xml
  level:
    org.springframework.boot: INFO
    org.springframework: INFO
    com.baidu.oped: DEBUG

hbase:
  clientHost: 127.0.0.1
  clientPort: 2181
  clientTcpNodelay: true
  rpcTimeout: 10000
  operationTimeout: 10000
  socketReadTimeout: 20000
  socketWriteTimeout: 60000
  maxThreadSize: 128
  poolQueueSize: 5120
  prestartPool: false
