<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">
    <property name="MAX_ACCESS_LOG_FILE_SIZE" value="500MB"/>

    <property name="ACCESS_DEBUG_URI_PREFIX" value="/fc"/>

    <property name="ACCESS_LOG_FILE_PATH" value="log/access/mx-web.access.log"/>
    <property name="ACCESS_DEBUG_LOG_FILE_PATH" value="log/access/mx-web.access.debug.log"/>

    <include resource="logging/logback-access-base.xml"/>

    <appender-ref ref="CONSOLE"/>
    <appender-ref ref="CONSOLE_DEBUG"/>
    <appender-ref ref="ACCESS_LOG_FILE"/>
    <appender-ref ref="ACCESS_DEBUG_LOG_FILE"/>
</configuration>