spring:
  jpa:
    hibernate:
      ddl-auto: update
    generate-ddl: true
    show-sql: true
    data:
      repositories:
        enabled: true
  datasource:
#    url: jdbc:mysql://180.76.135.145:3306/apm?autoReconnect=true&useUnicode=true&characterEncoding=utf-8
    url: jdbc:mysql://masonmxdb:3306/apm?autoReconnect=true&useUnicode=true&characterEncoding=utf-8
    username: root
    password: root
    driverClassName: com.mysql.jdbc.Driver
    max-active: 100
    min-idle: 8
    max-idle: 8
    validation-query: select 1
    test-on-borrow: true
#  dao:
#    exceptiontranslation:
#      enabled: false
hbase:
  clientHost: 127.0.0.1
  clientPort: 2181
  clientTcpNodelay: true
  rpcTimeout: 10000
  operationTimeout: 10000
  socketReadTimeout: 20000
  socketWriteTimeout: 60000
  maxThreadSize: 128
  poolQueueSize: 5120
  prestartPool: false

collector:
  flushPeriod: 1000

  tcpListenIp: 0.0.0.0
  tcpListenPort: 29994

  udpSpanListenIp: 0.0.0.0
  udpSpanListenPort: 29996

  udpSpanSocketReceiveBufferSize: 4194304
  udpSpanWorkerThread: 32
  udpSpanWorkerQueueSize: 1024

  udpStatListenIp: 0.0.0.0
  udpStatListenPort: 29995
  udpStatSocketReceiveBufferSize: 4194304
  udpStatWorkerThread: 16
  udpStatWorkerQueueSize: 512

  l4ip:
