spring:
  jpa:
    hibernate:
      ddl-auto: update
    generate-ddl: true
    show-sql: true
    data:
      repositories:
        enabled: true
  datasource:
    url: jdbc:mysql://127.0.0.1:3306/apm?autoReconnect=true&useUnicode=true&characterEncoding=utf-8
    username: root
    password: root
    driverClassName: com.mysql.jdbc.Driver
    max-active: 100
    min-idle: 8
    max-idle: 8
    validation-query: select 1
    test-on-borrow: true